.w-75  {
    margin-top: 20px ; 
    padding: 4px;
    height: 40px;
    width: 70px;

}

.sorting_button {

    display: flex;
    align-items: center;
    /* margin-left: 10px; */
}
.icon-spacing {
    margin-left: 30px; /* Adjust this value to increase the space */
}
.status_icon{
     font-size: 7px !important; 
    position: relative; 
    top: 7px; 
    height: 34px; 
    width: 70px;
}

.content-details p {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
}

.text-secondary {
  color: #6c757d;
}

.fw-bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

/* view page  */
.content-details p {
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
  }
  
  .text-secondary {
    color: #6c757d;
  }
  
  .fw-bold {
    font-weight: bold;
  }
  
  .text-center {
    text-align: center;
  }
  
  .mb-4 {
    margin-bottom: 1.5rem;
  }
  
  .mb-3 {
    margin-bottom: 1rem;
  }
  